.container{
    width: 90%;
    margin: 0 auto;
}
nav{
    align-content: center;
    display: flex;
    width: 100%;
    flex-direction: row; 
    height: 10%;
    justify-content: space-between;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
    align-items: center;
    list-style: none;
}
.link{
    font-size: 1rem;
    text-decoration: none;
    color: #3f3d56;
    font-weight: 600;
}
.logo{
    font-size: 3rem;
    font-weight: 800;
    text-decoration: none;
    color: rgb(4, 5, 12);
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
}